/V1/JEE_PROJECT_V1/nbproject/
/V1/JEE_PROJECT_V1/dist/
/V1/JEE_PROJECT_V1/build/
/V1/JEE_PROJECT_V1/test/
/V1/JEE_PROJECT_V1/build.xml
/V1/JEE_PROJECT_V1/test/
V1/JEE_PROJECT_V1/build/web/WEB-INF/classes/fr/efrei/jeeproject/Employee.class
V1/JEE_PROJECT_V1/dist/JEE_PROJECT_V1.war
V1/JEE_PROJECT_V1/nbproject/ant-deploy.xml
V1/JEE_PROJECT_V1/nbproject/build-impl.xml
V1/JEE_PROJECT_V1/nbproject/genfiles.properties
V1/JEE_PROJECT_V1/nbproject/private/private.properties
V1/JEE_PROJECT_V1/nbproject/project.properties
V1/JEE_PROJECT_V1/nbproject/project.xml
V1/JEE_PROJECT_V1/build/web/WEB-INF/classes/fr/efrei/jeeproject/Employee.class
V1/JEE_PROJECT_V1/nbproject/private/private.properties
V1/JEE_PROJECT_V1/nbproject/ant-deploy.xml
V1/JEE_PROJECT_V1/nbproject/ant-deploy.xml
V1/JEE_PROJECT_V1/nbproject/build-impl.xml
V1/JEE_PROJECT_V1/nbproject/genfiles.properties
V1/JEE_PROJECT_V1/nbproject/private/private.properties
V1/JEE_PROJECT_V1/nbproject/project.properties
V1/JEE_PROJECT_V1/nbproject/project.xml
/V2/JEE_PROJECT_V2/nbproject/private/
/V2/JEE_PROJET_V2/target/
*.class
/V2/JEE_PROJECT_V2/target/