<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <context-param>
        <param-name>username</param-name>
        <param-value>PWD2</param-value>
    </context-param>

    <servlet>
        <servlet-name>Employee_get</servlet-name>
        <servlet-class>fr.efrei.API.Employee_get</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Employee_get</servlet-name>
        <url-pattern>/Employee_get</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
  
</web-app>
